:root {
  --blue: rgb(13, 110, 253);
  --orange: orange;
}

main {
  min-height: 77vh;
}

body {
  direction: rtl;
  letter-spacing: 0;
  font-weight: bold;
}

button {
  border: none;
  background-color: transparent;
  color: black;
}

h1,
h2,
h3 {
  font-weight: bold;
}
